flows_raspberrypi.json
[{"id":"fc468f50.4c843","type":"tab","label":"old - Motion detection suspend"},{"id":"16630163.cb4b0f","type":"tab","label":"API [old] - Bedroom lights"},{"id":"1be25bed.0e07c4","type":"tab","label":"API - Data logger"},{"id":"c604644c.ef7668","type":"tab","label":"API - Shed lights"},{"id":"337fff90.f26d8","type":"tab","label":"API - Bedtime"},{"id":"b6e30a22.6d0f08","type":"tab","label":"API - Check shed temp"},{"id":"524d9020.d19e9","type":"tab","label":"API - Motion detection"},{"id":"51a7e2ff.803fdc","type":"tab","label":"API - Bedroom temp logger"},{"id":"82645751.537128","type":"tab","label":"New IP"},{"id":"44751af6.f31724","type":"tab","label":"Is anyone home"},{"id":"1c2c58da.3ae287","type":"tab","label":"Charge laptop"},{"id":"fd66f1f5.3d9ee","type":"inject","z":"b6e30a22.6d0f08","name":"cron","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":80.5,"y":68,"wires":[["252e8b6.9294774"]]},{"id":"302e1685.22f99a","type":"function","z":"b6e30a22.6d0f08","name":"get celcius","func":"var data = JSON.parse(msg.payload);\n\nif (data.temp === 'err') {\n    return [null, null, msg];\n}\n\nvar temp = parseInt(data.temp);\nvar humidity = parseInt(data.hum);\nvar payload = {\n    \"value1\": temp,\n    \"value2\": humidity\n}\n\nflow.set('payload', payload);\n\nif (temp < 35) {\n    return [{\"payload\": payload}, null, null];\n} else {\n    return [null, {\"payload\": payload}, null];\n}","outputs":"3","noerr":0,"x":248.5,"y":284,"wires":[["fa3f5373.392b2"],["42173d8e.9f5844","fa3f5373.392b2"],["252e8b6.9294774"]]},{"id":"aa2c6ab9.f9d7f8","type":"http request","z":"b6e30a22.6d0f08","name":"Ping IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/shed_temp/with/key/cvmP8dgKX0gAWexL6Vtem0","tls":"","x":392.5,"y":467,"wires":[[]]},{"id":"f71a0c71.39469","type":"http in","z":"fc468f50.4c843","name":"","url":"/api/stop-motion","method":"get","swaggerDoc":"","x":119.16666412353516,"y":60.111114501953125,"wires":[["47f0b5f8.8481ac"]]},{"id":"9b5d6946.d8f288","type":"function","z":"fc468f50.4c843","name":"Select delay","func":"var time = msg.payload.time;\n\nvar outputs = [\n    null,\n    null,\n    null,\n    null,\n    null,\n    null,\n    null,\n    null,\n    null,\n    null\n];\n\nvar diffArray = [\n    1/12,\n    1,\n    2,\n    3,\n    6,\n    12,\n    24,\n    48,\n    1,\n    1\n];\n\nvar oldDateObj = new Date();\nvar enddate = new Date(oldDateObj.getTime() + diffArray[time]*60*60*1000);\nvar endTime = enddate.getTime();\nflow.set(\"endTime\", endTime);\n\nvar currTime = new Date().getTime();\nvar remainingTime = currTime - endTime;\nmsg.payload = {time: remainingTime};\n\noutputs.splice(time, 1, msg);\nreturn outputs;","outputs":"10","noerr":0,"x":138.5,"y":375,"wires":[["cdcb5736.db8518","dba71faa.88d0d"],["d03cb48b.25abe8","dba71faa.88d0d"],["427ce713.631ca8","dba71faa.88d0d"],["ed8a8ae6.c7ea08","dba71faa.88d0d"],["be264c04.c6763","dba71faa.88d0d"],["5095b900.af99d8","dba71faa.88d0d"],["d3425e84.69d51","dba71faa.88d0d"],["ef70bd5b.a3b3d","dba71faa.88d0d"],["401fd239.e55b2c","dba71faa.88d0d"],["33c1e642.57e59a","dba71faa.88d0d"]]},{"id":"cdcb5736.db8518","type":"delay","z":"fc468f50.4c843","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":603.5,"y":94,"wires":[["d05b1843.1b8e48"]]},{"id":"d03cb48b.25abe8","type":"delay","z":"fc468f50.4c843","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"minutes","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":601.5,"y":142,"wires":[["d05b1843.1b8e48"]]},{"id":"427ce713.631ca8","type":"delay","z":"fc468f50.4c843","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"hours","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":591.5,"y":191,"wires":[["d05b1843.1b8e48"]]},{"id":"ed8a8ae6.c7ea08","type":"delay","z":"fc468f50.4c843","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"hours","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":589.5,"y":248,"wires":[["d05b1843.1b8e48"]]},{"id":"be264c04.c6763","type":"delay","z":"fc468f50.4c843","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"hours","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":587.5,"y":304,"wires":[["d05b1843.1b8e48"]]},{"id":"5095b900.af99d8","type":"delay","z":"fc468f50.4c843","name":"","pauseType":"delay","timeout":"12","timeoutUnits":"hours","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":585.5,"y":367,"wires":[["d05b1843.1b8e48"]]},{"id":"d3425e84.69d51","type":"delay","z":"fc468f50.4c843","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"days","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":579.5,"y":420,"wires":[["d05b1843.1b8e48"]]},{"id":"ef70bd5b.a3b3d","type":"delay","z":"fc468f50.4c843","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"days","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":574.5,"y":468,"wires":[["d05b1843.1b8e48"]]},{"id":"401fd239.e55b2c","type":"delay","z":"fc468f50.4c843","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":572.5,"y":521,"wires":[["d05b1843.1b8e48"]]},{"id":"33c1e642.57e59a","type":"delay","z":"fc468f50.4c843","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":551.5,"y":583,"wires":[["d05b1843.1b8e48"]]},{"id":"d05b1843.1b8e48","type":"http request","z":"fc468f50.4c843","name":"Restart motion","method":"GET","ret":"txt","url":"http://localhost:8080/0/detection/start","tls":"","x":855.0555419921875,"y":383.4444580078125,"wires":[[]]},{"id":"eade8ed9.fba94","type":"http request","z":"fc468f50.4c843","name":"Pause motion","method":"GET","ret":"txt","url":"http://localhost:8080/0/detection/pause","tls":"","x":351.3333435058594,"y":182.2222137451172,"wires":[[]]},{"id":"dba71faa.88d0d","type":"http response","z":"fc468f50.4c843","name":"Respond","x":593.5,"y":24,"wires":[]},{"id":"fd91294b.8c46e8","type":"http in","z":"fc468f50.4c843","name":"Get remaining time","url":"/api/remaining-time","method":"get","swaggerDoc":"","x":117.5,"y":585,"wires":[["f8cd8285.cea55"]]},{"id":"aad4eb29.3ad758","type":"http response","z":"fc468f50.4c843","name":"","x":383.5,"y":711,"wires":[]},{"id":"f8cd8285.cea55","type":"function","z":"fc468f50.4c843","name":"Get global","func":"var endTime = flow.get(\"endTime\") || 0;\nvar remainingTime = new Date().getTime() - endTime;\nmsg.payload = remainingTime;\n\nreturn msg;","outputs":1,"noerr":0,"x":180.5,"y":659,"wires":[["aad4eb29.3ad758","f62b8e8f.72da4"]]},{"id":"f62b8e8f.72da4","type":"debug","z":"fc468f50.4c843","name":"","active":true,"console":"false","complete":"payload","x":403.5,"y":659,"wires":[]},{"id":"47f0b5f8.8481ac","type":"function","z":"fc468f50.4c843","name":"Is already in progress?","func":"var currTime = new Date().getTime();\nvar endTime = flow.get(\"endTime\") || currTime;\nvar remainingTime = currTime - endTime;\n\nif (remainingTime < 0) {\n    msg.payload = {time: remainingTime};\n    return [msg, null];\n}\nreturn [null, msg]","outputs":"2","noerr":0,"x":128.5,"y":172,"wires":[["dba71faa.88d0d"],["eade8ed9.fba94","9b5d6946.d8f288","693e1639.2f8b38"]]},{"id":"22519b4.dfe2f64","type":"http response","z":"fc468f50.4c843","name":"","x":621,"y":821,"wires":[]},{"id":"28a07a92.6dc616","type":"http in","z":"fc468f50.4c843","name":"","url":"/pages/motion","method":"get","swaggerDoc":"","x":137,"y":821,"wires":[["e382f179.ead66"]]},{"id":"e382f179.ead66","type":"template","z":"fc468f50.4c843","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script src=\"https://code.jquery.com/jquery-3.1.0.min.js\" integrity=\"sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=\" crossorigin=\"anonymous\"></script>\n    </head>\n    <body>\n        <font face=\"Arial\">\n        <div></div><button class=\"pause\" data-time=\"0\">pause 5 mins</button>\n        <div><button class=\"pause\" data-time=\"1\">pause 1 hour</button></div>\n        <div><button class=\"pause\" data-time=\"2\">pause 2 hour</button></div>\n        <div><button class=\"pause\" data-time=\"3\">pause 3 hour</button></div>\n        <div><button class=\"pause\" data-time=\"4\">pause 6 hour</button></div>\n        <div><button class=\"pause\" data-time=\"5\">pause 12 hour</button></div>\n        <div><button class=\"pause\" data-time=\"6\">pause 24 hour</button></div>\n        <div><button class=\"pause\" data-time=\"7\">pause 48 hour</button></div>\n\n        </font>\n        <script type=\"text/javascript\">\n            $.get('/api/remaining-time', {})\n            .then(function (response) {\n                console.log(parseInt(response)/1000);\n            })\n            .catch(function (error) {\n                console.log(error);\n            });\n            \n            $('.pause').each(function() {\n                $(this).click(function() {\n                    var time = $(this).data('time');\n                    $.get('/api/stop-motion', {time, time});\n                });\n            });\n        </script>\n        <style>\n            .pause {\n                margin-bottom: 25px;\n            }\n        </style>\n    </body>\n</html>\n","x":392,"y":821,"wires":[["22519b4.dfe2f64"]]},{"id":"a062e746.67e778","type":"http in","z":"524d9020.d19e9","name":"","url":"/api/detect-motion","method":"get","swaggerDoc":"","x":149.5,"y":105,"wires":[["15e9126.dd04cee","25324871.ba84d8","2f9311cd.e2554e","55841256.3fc99c"]]},{"id":"15e9126.dd04cee","type":"debug","z":"524d9020.d19e9","name":"","active":true,"console":"false","complete":"false","x":384.5,"y":103,"wires":[]},{"id":"25324871.ba84d8","type":"http response","z":"524d9020.d19e9","name":"","x":362.5,"y":46,"wires":[]},{"id":"2f9311cd.e2554e","type":"delay","z":"524d9020.d19e9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":385.5,"y":190,"wires":[["930f9924.6bfd58"]]},{"id":"930f9924.6bfd58","type":"http request","z":"524d9020.d19e9","name":"","method":"GET","ret":"txt","url":"https://maker.ifttt.com/trigger/shed_motion/with/key/cvmP8dgKX0gAWexL6Vtem0","tls":"","x":569.5,"y":242,"wires":[[]]},{"id":"55841256.3fc99c","type":"exec","z":"524d9020.d19e9","command":"node /home/pi/Code/analytics/shed_log_movement.js","addpay":true,"append":"","useSpawn":false,"timer":"","name":"Log to analytics","x":388,"y":336,"wires":[[],[],[]]},{"id":"9f4d7642.ec6518","type":"inject","z":"524d9020.d19e9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":152.5,"y":472,"wires":[["4edd3bf8.e6cc04"]]},{"id":"4edd3bf8.e6cc04","type":"http request","z":"524d9020.d19e9","name":"Test","method":"GET","ret":"txt","url":"http://localhost:1880/api/detect-motion","tls":"","x":346.5,"y":539,"wires":[[]]},{"id":"42173d8e.9f5844","type":"delay","z":"b6e30a22.6d0f08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":228.5,"y":468,"wires":[["aa2c6ab9.f9d7f8"]]},{"id":"252e8b6.9294774","type":"exec","z":"b6e30a22.6d0f08","command":"python /home/pi/Code/shed-scripts/temp/checktemp.py","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":248,"y":142.5,"wires":[["302e1685.22f99a","b3494c7b.42b14"],[],[]]},{"id":"8ce1e8d5.923ef8","type":"inject","z":"82645751.537128","name":"Get IP","topic":"ip","payload":"eth0","payloadType":"str","repeat":"300","crontab":"","once":false,"x":124,"y":65.5,"wires":[["d5adb85.b8dd248"]]},{"id":"545b6e9f.895ff","type":"function","z":"82645751.537128","name":"Compare IP","func":"context.lastip = context.lastip || 'initial';\nvar currentip = msg.payload;\ncontext.lastip = currentip;\n\nmsg.url = \"http://api.emgeebee.com/change-ip?ip=\" + currentip;\nmsg.headers = {\n    \"StaticCookie\": \"^6T*vnBN*9lN12\"\n};\nif (context.lastip === 'initial') {\n} else if (context.lastip !== currentip) {\n    msg.payload = {\"value1\": \"My current IP is \" + currentip};\n    return msg;\n}\nreturn msg;","outputs":1,"noerr":0,"x":456,"y":283,"wires":[["2ee15a7c.d1a096","792af76e.6845f8"]]},{"id":"d5adb85.b8dd248","type":"exec","z":"82645751.537128","command":"wget -qO- http://bot.whatismyipaddress.com/ ; echo","addpay":false,"append":"","useSpawn":"","timer":"","name":"Call IP - whatismyipaddress.com","x":245,"y":143,"wires":[["fa9b1b79.029568"],[],[]]},{"id":"fa9b1b79.029568","type":"switch","z":"82645751.537128","name":"Integrity check","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"\\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\b","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":2,"x":346,"y":215,"wires":[["545b6e9f.895ff"],[]]},{"id":"2ee15a7c.d1a096","type":"debug","z":"82645751.537128","name":"","active":true,"console":"false","complete":"payload","x":539.5,"y":364,"wires":[]},{"id":"6c929256.021aec","type":"http in","z":"16630163.cb4b0f","name":"","url":"/api/bedroom/lights/on","method":"get","swaggerDoc":"","x":194.5,"y":71,"wires":[["54b695ff.a0660c","382c9f18.62d79","e60081fb.a43d2"]]},{"id":"54b695ff.a0660c","type":"http response","z":"16630163.cb4b0f","name":"","x":421.5,"y":69,"wires":[]},{"id":"382c9f18.62d79","type":"http request","z":"16630163.cb4b0f","name":"","method":"GET","ret":"txt","url":"http://192.168.2.156/switchon?socket=1","tls":"","x":443.5,"y":122,"wires":[[]]},{"id":"e60081fb.a43d2","type":"http request","z":"16630163.cb4b0f","name":"","method":"GET","ret":"txt","url":"http://192.168.2.156/switchon?socket=3","tls":"","x":441.5,"y":172,"wires":[[]]},{"id":"f5df8f87.0874","type":"http in","z":"16630163.cb4b0f","name":"","url":"/api/bedroom/lights/off","method":"get","swaggerDoc":"","x":224,"y":278,"wires":[["51ae597c.2b8b78","17e6d788.7519c8","7e0e7a7c.d5ff74"]]},{"id":"51ae597c.2b8b78","type":"http response","z":"16630163.cb4b0f","name":"","x":451,"y":276,"wires":[]},{"id":"17e6d788.7519c8","type":"http request","z":"16630163.cb4b0f","name":"","method":"GET","ret":"txt","url":"http://192.168.2.156/switchoff?socket=1","tls":"","x":473,"y":329,"wires":[[]]},{"id":"7e0e7a7c.d5ff74","type":"http request","z":"16630163.cb4b0f","name":"","method":"GET","ret":"txt","url":"http://192.168.2.156/switchoff?socket=3","tls":"","x":471,"y":379,"wires":[[]]},{"id":"c5b03cb9.a687d","type":"http in","z":"b6e30a22.6d0f08","name":"Get shed temp","url":"/api/get-shed-temp","method":"get","swaggerDoc":"","x":120.5,"y":563,"wires":[["3879359c.28dbea"]]},{"id":"3879359c.28dbea","type":"function","z":"b6e30a22.6d0f08","name":"","func":"console.log(flow.get('payload'));\nmsg.payload = flow.get('payload');\nreturn msg;","outputs":"1","noerr":0,"x":342.5,"y":657,"wires":[["10e2b3f4.141c8c"]]},{"id":"10e2b3f4.141c8c","type":"http response","z":"b6e30a22.6d0f08","name":"","x":658.5,"y":747,"wires":[]},{"id":"693e1639.2f8b38","type":"debug","z":"fc468f50.4c843","name":"","active":true,"console":"false","complete":"false","x":89.5,"y":236,"wires":[]},{"id":"dfa8602b.00fc8","type":"http request","z":"16630163.cb4b0f","name":"","method":"GET","ret":"txt","url":"http://192.168.2.156/switchon?socket=2","tls":"","x":451,"y":508,"wires":[[]]},{"id":"56107db9.33abd4","type":"http response","z":"16630163.cb4b0f","name":"","x":429,"y":455,"wires":[]},{"id":"154fa63c.ffba8a","type":"http request","z":"16630163.cb4b0f","name":"","method":"GET","ret":"txt","url":"http://192.168.2.156/switchon?socket=3","tls":"","x":449,"y":558,"wires":[[]]},{"id":"c67389ee.6a4e28","type":"http in","z":"16630163.cb4b0f","name":"","url":"/api/bedroom/bedtime","method":"get","swaggerDoc":"","x":202,"y":457,"wires":[["56107db9.33abd4","dfa8602b.00fc8","154fa63c.ffba8a","5d5c5395.40485c"]]},{"id":"5d5c5395.40485c","type":"http request","z":"16630163.cb4b0f","name":"","method":"GET","ret":"txt","url":"http://192.168.2.156/switchon?socket=1","tls":"","x":442,"y":632,"wires":[[]]},{"id":"22cc964c.61b66a","type":"http in","z":"16630163.cb4b0f","name":"","url":"/api/projector/off","method":"get","swaggerDoc":"","x":191,"y":701,"wires":[["3d9579eb.a61b66","908d931f.7365"]]},{"id":"3d9579eb.a61b66","type":"http response","z":"16630163.cb4b0f","name":"","x":438,"y":699,"wires":[]},{"id":"908d931f.7365","type":"http request","z":"16630163.cb4b0f","name":"","method":"GET","ret":"txt","url":"http://192.168.2.156/switchoff?socket=2","tls":"","x":460,"y":752,"wires":[[]]},{"id":"84420b6a.df4258","type":"http in","z":"16630163.cb4b0f","name":"","url":"/api/projector/on","method":"get","swaggerDoc":"","x":206,"y":870,"wires":[["9bddfab6.b8d6f8","9d76ff09.68a53"]]},{"id":"9bddfab6.b8d6f8","type":"http response","z":"16630163.cb4b0f","name":"","x":453,"y":868,"wires":[]},{"id":"9d76ff09.68a53","type":"http request","z":"16630163.cb4b0f","name":"","method":"GET","ret":"txt","url":"http://192.168.2.156/switchon?socket=2","tls":"","x":475,"y":921,"wires":[[]]},{"id":"ac018a1a.569908","type":"http response","z":"16630163.cb4b0f","name":"","x":783,"y":1016,"wires":[]},{"id":"933b37c1.e0b1c8","type":"http in","z":"16630163.cb4b0f","name":"","url":"/api/projector/test","method":"get","swaggerDoc":"","x":209,"y":1023,"wires":[["f172ef15.2896a"]]},{"id":"f172ef15.2896a","type":"http request","z":"16630163.cb4b0f","name":"","method":"GET","ret":"txt","url":"http://192.168.2.156/test.json","tls":"","x":478,"y":1074,"wires":[["ac018a1a.569908"]]},{"id":"fa3f5373.392b2","type":"function","z":"b6e30a22.6d0f08","name":"Extract value","func":"return { \"payload\": 'shed.temp=' + parseInt(msg.payload.value1) };\n","outputs":1,"noerr":0,"x":559.5,"y":244,"wires":[["d04918f7.efd0f8"]]},{"id":"fd2be74d.2be558","type":"inject","z":"51a7e2ff.803fdc","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":102.5,"y":257,"wires":[["39cf533a.dc3c4c"]]},{"id":"39cf533a.dc3c4c","type":"exec","z":"51a7e2ff.803fdc","command":"node /home/pi/Code/shed-scripts/temp-nest/index.js","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":276.5,"y":411.5,"wires":[["667feb55.1d3f14","d75be14e.0f82c"],[],[]]},{"id":"7c96f035.c32c3","type":"http in","z":"1be25bed.0e07c4","name":"","url":"/api/log","method":"post","swaggerDoc":"","x":171.5,"y":91,"wires":[["b76e498.0e395b8","dbcf6f39.89c64","5a15df5a.b9eb8"]]},{"id":"b76e498.0e395b8","type":"function","z":"1be25bed.0e07c4","name":"","func":"return { \"payload\": msg.req.body };\n","outputs":1,"noerr":0,"x":339.5,"y":176,"wires":[["6b6d4634.81c658"]]},{"id":"6b6d4634.81c658","type":"exec","z":"1be25bed.0e07c4","command":"node /home/pi/Code/data_logger/index.js","addpay":true,"append":"","useSpawn":false,"timer":"","name":"","x":593.5,"y":228.5,"wires":[[],[],[]]},{"id":"271183a4.8ff29c","type":"http request","z":"51a7e2ff.803fdc","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/api/log","tls":"","x":725.5,"y":552,"wires":[[]]},{"id":"667feb55.1d3f14","type":"function","z":"51a7e2ff.803fdc","name":"","func":"var temp = parseFloat(JSON.parse(msg.payload)[0]);\n\nflow.set('temp', temp);\nreturn { \"payload\": 'bed.temp=' + temp };","outputs":1,"noerr":0,"x":588.5,"y":477,"wires":[["271183a4.8ff29c"]]},{"id":"dbcf6f39.89c64","type":"http response","z":"1be25bed.0e07c4","name":"","x":381.5,"y":97,"wires":[]},{"id":"d04918f7.efd0f8","type":"http request","z":"b6e30a22.6d0f08","name":"","method":"POST","ret":"txt","url":"http://localhost:1880/api/log","tls":"","x":745.5,"y":339,"wires":[[]]},{"id":"d75be14e.0f82c","type":"debug","z":"51a7e2ff.803fdc","name":"","active":true,"console":"false","complete":"false","x":603.5,"y":395,"wires":[]},{"id":"2ede9963.65fd66","type":"http in","z":"51a7e2ff.803fdc","name":"get-bed-temp","url":"/api/get-bed-temp","method":"get","swaggerDoc":"","x":136.5,"y":600,"wires":[["5bb5bbd9.c00f94"]]},{"id":"80757dd7.75f5a","type":"http response","z":"51a7e2ff.803fdc","name":"","x":458.5,"y":662,"wires":[]},{"id":"5bb5bbd9.c00f94","type":"function","z":"51a7e2ff.803fdc","name":"","func":"msg.payload = flow.get('temp');\nreturn msg;","outputs":1,"noerr":0,"x":286.5,"y":630,"wires":[["80757dd7.75f5a"]]},{"id":"5a15df5a.b9eb8","type":"debug","z":"1be25bed.0e07c4","name":"","active":true,"console":"false","complete":"false","x":803.5,"y":487,"wires":[]},{"id":"22e77b75.5fa354","type":"http in","z":"1be25bed.0e07c4","name":"","url":"/api/log-json","method":"post","swaggerDoc":"","x":129.5,"y":383,"wires":[["dbcf6f39.89c64","ef8990cb.77c16","5a15df5a.b9eb8"]]},{"id":"ef8990cb.77c16","type":"function","z":"1be25bed.0e07c4","name":"","func":"let string = \"\";\nObject.keys(msg.req.body).forEach((key) => {\n  string += key + \"=\" + msg.req.body[key] + \" \";  \n})\nreturn { \"payload\":  string};","outputs":1,"noerr":0,"x":366.5,"y":292,"wires":[["6b6d4634.81c658"]]},{"id":"2f64aa7c.00f686","type":"inject","z":"44751af6.f31724","name":"","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":false,"x":115.5,"y":99,"wires":[["d19ffbf0.5885c8"]]},{"id":"d19ffbf0.5885c8","type":"exec","z":"44751af6.f31724","command":"sudo arp-scan -l --retry 4 ","addpay":false,"append":"","useSpawn":"","timer":"","name":"Get network list","x":114.5,"y":194.5,"wires":[["9983d31e.2b4ae"],[],[]]},{"id":"f863e4c5.2fd498","type":"debug","z":"44751af6.f31724","name":"","active":true,"console":"false","complete":"payload","x":671.5,"y":274,"wires":[]},{"id":"9983d31e.2b4ae","type":"function","z":"44751af6.f31724","name":"is anyone home?","func":"var state = flow.get('state');\nvar tests = [\n    /cc:fd:17:e6:6f:fa/,\n    /2c:f0:a2:0d:ec:c4/\n];\n\nvar results = tests.map(a => a.test(msg.payload) ? \"in\" : \"out\");\nnode.warn(results);\nif (typeof state === \"undefined\" || typeof state !== \"object\") {\n    state = {\n        history: [true, false, false, false, false],\n        current: false\n    };\n    flow.set('state', state);\n}\nif (results.indexOf(\"in\") > -1) {\n    state.history.pop();\n    state.history.splice(0, 0, true);\n    flow.set('state', state);\n    node.warn(state);\n    if (state.current === false) {\n        state.current = true;\n        flow.set('state', state);\n        node.warn(\"someone got home!\");\n        return [{}, null];\n    }\n} else if (results.indexOf(\"in\") === -1) {\n    state.history.pop();\n    state.history.splice(0, 0, false);\n    flow.set('state', state);\n    node.warn(state);\n    if (state.history.indexOf(true) === -1 && state.current === true) {\n        state.current = false;\n        flow.set('state', state);\n        node.warn(\"everyone left!\");\n        return [null, {}];\n    }\n}","outputs":"2","noerr":0,"x":147.5,"y":284,"wires":[["65b18ebe.fb6dd","41041417.30965c"],["ad94e21f.4dc51","cf0123b9.e136a"]]},{"id":"65b18ebe.fb6dd","type":"exec","z":"44751af6.f31724","command":"sudo /home/pi/mmal/stopmotion.sh","addpay":false,"append":"","useSpawn":"","timer":"","name":"stop motion recording","x":453.5,"y":217.5,"wires":[["f863e4c5.2fd498"],[],[]]},{"id":"ad94e21f.4dc51","type":"exec","z":"44751af6.f31724","command":"sudo /home/pi/mmal/startmotion.sh","addpay":false,"append":"","useSpawn":"","timer":"","name":"start motion recording","x":450.5,"y":382.5,"wires":[["f863e4c5.2fd498"],[],[]]},{"id":"41041417.30965c","type":"http request","z":"44751af6.f31724","name":"Ping IFTTT","method":"GET","ret":"txt","url":"https://maker.ifttt.com/trigger/someonehome/with/key/cvmP8dgKX0gAWexL6Vtem0","tls":"","x":437.5,"y":151,"wires":[[]]},{"id":"f36e3aa1.aa6448","type":"http request","z":"b6e30a22.6d0f08","name":"Ping IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/shed_temp_log/with/key/cvmP8dgKX0gAWexL6Vtem0","tls":"","x":627,"y":70,"wires":[[]]},{"id":"792af76e.6845f8","type":"http request","z":"82645751.537128","name":"","method":"GET","ret":"txt","url":"","tls":"","x":658.5,"y":286,"wires":[["2ee15a7c.d1a096"]]},{"id":"cf0123b9.e136a","type":"http request","z":"44751af6.f31724","name":"Ping IFTTT","method":"GET","ret":"txt","url":"https://maker.ifttt.com/trigger/emptyhouse/with/key/cvmP8dgKX0gAWexL6Vtem0","tls":"","x":411,"y":453,"wires":[[]]},{"id":"b3494c7b.42b14","type":"debug","z":"b6e30a22.6d0f08","name":"","active":true,"console":"false","complete":"false","x":604,"y":140,"wires":[]},{"id":"aeb56d83.720f8","type":"inject","z":"337fff90.f26d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":65,"y":88,"wires":[["d6b0c1fa.dd486","8da19f5d.e9751","3ccf2c9b.d3fce4","e121f8ed.77de98"]]},{"id":"6bade50c.77467c","type":"http request","z":"337fff90.f26d8","name":"Call projector on","method":"POST","ret":"txt","url":"https://mihome4u.co.uk/api/v1/subdevices/power_on","tls":"","x":680.5,"y":70,"wires":[["32cd5673.9ec46a"]]},{"id":"d6b0c1fa.dd486","type":"http request","z":"337fff90.f26d8","name":"Bedroom lights to 50%","method":"GET","ret":"txt","url":"https://maker.ifttt.com/trigger/bedtime_lights/with/key/cvmP8dgKX0gAWexL6Vtem0","tls":"","x":398.5,"y":170,"wires":[[]]},{"id":"b5f18488.3b3748","type":"http request","z":"337fff90.f26d8","name":"Naddys heater on","method":"POST","ret":"txt","url":"https://mihome4u.co.uk/api/v1/subdevices/power_on","tls":"","x":546.5,"y":280,"wires":[["5aa03e54.4a94c"]]},{"id":"8da19f5d.e9751","type":"delay","z":"337fff90.f26d8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":374.5,"y":390,"wires":[["84cf9ed2.93192"]]},{"id":"89790aea.f2d3b8","type":"http in","z":"337fff90.f26d8","name":"Bedtime API","url":"/api/trigger-bedtime/on","method":"post","swaggerDoc":"","x":83.5,"y":226,"wires":[["d6b0c1fa.dd486","8da19f5d.e9751","b0099096.178c8","47c90939.2db2d8","3ccf2c9b.d3fce4","e121f8ed.77de98"]]},{"id":"b0099096.178c8","type":"http response","z":"337fff90.f26d8","name":"Respond","x":379.5,"y":482,"wires":[]},{"id":"47c90939.2db2d8","type":"debug","z":"337fff90.f26d8","name":"","active":true,"console":"false","complete":"false","x":375.5,"y":564,"wires":[]},{"id":"84cf9ed2.93192","type":"http request","z":"337fff90.f26d8","name":"Downstairs lights off","method":"GET","ret":"txt","url":"https://maker.ifttt.com/trigger/bedtime_downstairs_lights/with/key/cvmP8dgKX0gAWexL6Vtem0","tls":"","x":570.5,"y":389,"wires":[[]]},{"id":"3ccf2c9b.d3fce4","type":"function","z":"337fff90.f26d8","name":"set heater id","func":"msg.payload = {\n\t\"id\": 110483,\n\t\"socket\": 0\n}\nreturn msg;","outputs":1,"noerr":0,"x":363.5,"y":281,"wires":[["b5f18488.3b3748"]]},{"id":"5aa03e54.4a94c","type":"delay","z":"337fff90.f26d8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":733.5,"y":280,"wires":[["e0b4b197.d8a1d"]]},{"id":"946bdce.8fd0e2","type":"http request","z":"337fff90.f26d8","name":"Heater off","method":"POST","ret":"txt","url":"https://mihome4u.co.uk/api/v1/subdevices/power_off","tls":"","x":1061,"y":280,"wires":[[]]},{"id":"e0b4b197.d8a1d","type":"function","z":"337fff90.f26d8","name":"set heater id","func":"msg.payload = {\n\t\"id\": 110483,\n\t\"socket\": 0\n}\nreturn msg;","outputs":1,"noerr":0,"x":905,"y":280,"wires":[["946bdce.8fd0e2"]]},{"id":"c289d8ae.a1e198","type":"function","z":"337fff90.f26d8","name":"set projector id","func":"msg.payload = {\n\t\"id\": 56991\n}\nreturn msg;","outputs":1,"noerr":0,"x":499,"y":69,"wires":[["6bade50c.77467c"]]},{"id":"571dfb2a.564804","type":"http request","z":"337fff90.f26d8","name":"projector off","method":"POST","ret":"txt","url":"https://mihome4u.co.uk/api/v1/subdevices/power_off","tls":"","x":1215,"y":68,"wires":[["8fa1b47a.aa8798"]]},{"id":"4725155e.ce9cfc","type":"function","z":"337fff90.f26d8","name":"set projector id","func":"msg.payload = {\n\t\"id\": 56991\n}\nreturn msg;","outputs":1,"noerr":0,"x":1029,"y":70,"wires":[["571dfb2a.564804"]]},{"id":"32cd5673.9ec46a","type":"delay","z":"337fff90.f26d8","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":854.5,"y":72,"wires":[["4725155e.ce9cfc"]]},{"id":"7cde31ac.ae1f1","type":"inject","z":"1c2c58da.3ae287","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":147,"y":90,"wires":[["7eabe8.834a1418"]]},{"id":"7eabe8.834a1418","type":"function","z":"1c2c58da.3ae287","name":"set laptop id","func":"msg.payload = {\n\t\"id\": 110483,\n\t\"socket\": 2\n}\nreturn msg;","outputs":1,"noerr":0,"x":131.5,"y":207,"wires":[["619dce49.8ce56"]]},{"id":"619dce49.8ce56","type":"http request","z":"1c2c58da.3ae287","name":"Call laptop on","method":"POST","ret":"txt","url":"https://mihome4u.co.uk/api/v1/subdevices/power_on","tls":"","x":315,"y":207,"wires":[["4434bfd2.7f4d4","5f82fd0a.7a7944"]]},{"id":"4434bfd2.7f4d4","type":"delay","z":"1c2c58da.3ae287","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":206,"wires":[["ae2c9da1.4556"]]},{"id":"ae2c9da1.4556","type":"function","z":"1c2c58da.3ae287","name":"set laptop id","func":"msg.payload = {\n\t\"id\": 110483,\n\t\"socket\": 2\n}\nreturn msg;","outputs":1,"noerr":0,"x":645.5,"y":204,"wires":[["e7e9eafd.ec4fc8"]]},{"id":"e7e9eafd.ec4fc8","type":"http request","z":"1c2c58da.3ae287","name":"laptop off","method":"POST","ret":"txt","url":"https://mihome4u.co.uk/api/v1/subdevices/power_off","tls":"","x":823.5,"y":204,"wires":[[]]},{"id":"5f82fd0a.7a7944","type":"debug","z":"1c2c58da.3ae287","name":"","active":true,"console":"false","complete":"payload","x":451.5,"y":280,"wires":[]},{"id":"e121f8ed.77de98","type":"delay","z":"337fff90.f26d8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":327,"y":74,"wires":[["c289d8ae.a1e198"]]},{"id":"a1e28550.9a6f38","type":"inject","z":"337fff90.f26d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":839.5,"y":155,"wires":[["4725155e.ce9cfc"]]},{"id":"8fa1b47a.aa8798","type":"debug","z":"337fff90.f26d8","name":"","active":true,"console":"false","complete":"false","x":1349.5,"y":157,"wires":[]},{"id":"743bb67b.843df8","type":"inject","z":"c604644c.ef7668","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":520.5,"y":37,"wires":[["d571ab8d.bca348"]]},{"id":"d571ab8d.bca348","type":"rpi-gpio out","z":"c604644c.ef7668","name":"","pin":"11","set":"","level":"0","out":"out","x":697.5,"y":183,"wires":[]},{"id":"4d88469a.9b4168","type":"inject","z":"c604644c.ef7668","name":"off","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":505.5,"y":339,"wires":[["d571ab8d.bca348"]]},{"id":"4c8bde48.1b045","type":"http in","z":"c604644c.ef7668","name":"shed lights api on","url":"/api/trigger-shed-lights/on","method":"post","swaggerDoc":"","x":180.5,"y":87,"wires":[["b17f15da.612088","9fa00c3d.bb7e"]]},{"id":"1964b4cb.ce7a1b","type":"http in","z":"c604644c.ef7668","name":"shed lights api off","url":"/api/trigger-shed-lights/off","method":"post","swaggerDoc":"","x":183.5,"y":273,"wires":[["b17f15da.612088","bc57e1f1.6b706"]]},{"id":"b17f15da.612088","type":"http response","z":"c604644c.ef7668","name":"","x":446.5,"y":181,"wires":[]},{"id":"9fa00c3d.bb7e","type":"function","z":"c604644c.ef7668","name":"","func":"return { payload: 1 };","outputs":1,"noerr":0,"x":435.5,"y":95,"wires":[["d571ab8d.bca348"]]},{"id":"bc57e1f1.6b706","type":"function","z":"c604644c.ef7668","name":"","func":"return { payload: 0 };","outputs":1,"noerr":0,"x":437.5,"y":261,"wires":[["d571ab8d.bca348"]]}]